<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagrindinis</title>
</head>
<body>
  <section>
    <h1>Gyvūnų mylėtojų klubas</h1>
    <div class="visaInfo">

      <div class="paveikslas">
        <img src="suniukai.jpg" alt="">
      </div>

      <div class="tekstoLaukas">
      <p class="tekstas">
        Norite auginti ir šunį, ir katę? Tai nėra problema, juk jie gali tapti geriausiais draugais, teigia Tel Avivo universiteto mokslininkai.

Pasak specialistų, jei jūsų katė su šuniu „susipažins", kai jai bus ne daugiau kaip 6 mėnesiai, o jam ne daugiau nei metai, yra didelė tikimybė, kad jūsų augintiniai taps geriausiais draugais, rašo sciencedaily.com.

Tyrimo metu buvo apklausti 200 augintinių savininkų, kurie augina ir šunį, ir katę. Analizuodami jų užpildytas anketas, mokslininkai padarė išvadą, kad šuo ir katė ne tik gali gyventi draugiškai, bet dažnai tampa geriausiais draugais.

Tyrimų rezultatai parodė, kad du trečdaliai kartu gyvenusių šunų ir kačių sutarė puikiai. Tuo metu 25 proc. šuns ir katės santykių buvo neutralūs, o dar 10 proc. šeimų augintiniai jautė priešiškumą vienas kitam. Užeikite į mūsų puslapį bei pasižiūrėkte mūsų augintinius bei savininkus
</p>
</div>




<div class="mygtukai">

<a href="/seimininkai"><button>Šeimininkai</button></a>
    <a href="http://localhost:3000/augintiniai"><button>Augintiniai</button></a>
  
</div>

    </div>
    
  </section>
</body>
</html>