@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: darkcyan;
  font-family: 'Ubuntu', sans-serif;
}

.visokieVardai {
  margin: 0 auto;
  background-color: aliceblue;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 600px;
}

p {
  font-size: 36px;
  font-weight: bold;
  margin-left: 50px;
}

.trinti {
  background-color: red;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  border: none;
  opacity: 0.7;
  border-radius: 10px;
}

.Forma {
  background-color: aliceblue;
  opacity: 0.7;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;

}

select {
  height: 50px;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.rikiuoti {
  margin-top: 25px;
  background-color: green;
  width: 120px;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.7;
}

.prideti {
  margin-top: 25px;
  background-color: green;
  width: 150px;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.7;
}

.formaPrideti {
  background-color: aliceblue;
  opacity: 0.7;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

label {
  font-size: 25px;
  font-weight: bold;
}

input {
  height: 50px;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.filtruoti {
  margin-top: 25px;
  background-color: green;
  width: 150px;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.7;
}